<div class="field">
  <%= label_tag :data_confirm %>
  <%= text_field_tag :data_confirm %>
</div>
<div class="field">
  <%= label_tag :data_disable_with %>
  <%= text_field_tag :data_disable_with %>
</div>