<strong>JSON assigned to JavaScript var context:</strong>
<div id="result" style="margin-bottom: 1em;">Result holder</div>

<script type="text/javascript">
  var json = <%= @result %>;
  $('#result').html(json);
</script>

<p>Was @result HTML Safe? <%= @result.html_safe? ? 'Yes' : 'No' %></p>
