<h1>Welcome to the Cross Site Scripting (XSS) benchmark module</h1>
<p>
  This module is part of the Ruby on Rails security benchmark, which is a part of my Master Thesis research.<br />
  It is basically a <%= link_to 'Ruby on Rails', 'http://www.rubyonrails.org/', :target => '_blank' %> 4.0.0 web application aimed at covering all the XSS protection mechanisms and functionalities which could cause an XSS vulnerability, such as the sanitize method, link builders, etcetera.<br />
  It is not the intention to test this functionality by hand, but rather to use a automatic security analysis tool, such as the dynamic web vulnerability scanners <%= link_to 'Arachni', 'http://www.arachni-scanner.com/', :target => '_blank' %> and <%= link_to 'W3af', 'http://w3af.org/', :target => '_blank' %>. Since these scanners cannot scan the Rails framework directly, they need some kind of interface/bridge. That is what this benchmark application is meant for.<br />
  If these scanners find a security vulnerability in this application, this could very well mean there is a security vulnerability in the Rails framework itself. This is because this application uses the functionality provided by the Rails framework in the most basic way possible (thus likely not introducing a security vulnerability itself). Furthermore, it uses functionality that should be secure to use with input from untrusted source (according to the Rails API/documentation).<br />
  This benchmark module tends to be as complete as possible (using all the provided XSS related functionalities in all the ways possible). However, this is not always complete feasible. Therefore, some things might have been left out. Please refer to my thesis (TODO link?) for more information.<br />
</p>

<%= render 'tests' %>